body{
    background-image: url("https://i.ibb.co/xSLkd50/facebook-share-image.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.tav{
   border:none;
   background-color:white;
   border-radius: 50px;
   width: 38%;
   height: 600px;
   left: 430px;
   right: 450px;
   top: 20px;
   position: relative;
   padding-bottom: 15px;
}
.logo{
   display: flex;
   align-items: center;
   justify-content: center;
}
.p1{
   font-family: sans-serif;
   font-size: 30px;
   text-align: center;

}
input[type=email],input[type=password],input[type=date]{
   border-radius:20px;
   width: 90%;
   margin: 5px;
   height: 40px;
 }
.center {
   margin: 0 113px;
}
.l1{
   padding-left: 3px;
   font-size: 20px;
   padding-top: 3px;
   padding-bottom: 3px;
}
.l2{
   padding-left: 5px;
   font-size: 18px;
   color: gray;
   border-radius: 28px;
}
.a1{
   padding-left: 115px;
   text-decoration: none;
   font-size: 15px;
   color: black;
}
.b_1{
   padding-left: 116px;
   border: none;
}
.b1{
   width: 68%;
   height: 40px;
   background-color: red;
   color: white;
   border-radius: 20px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}
.b3{
    width: 68%;
   height: 40px;
   background-color: #f3f2f2;
   color: black;
   border-radius: 20px;
   font-size: 13px;
   border: 1px solid gray;
   cursor: pointer;
}
.p2{
   text-align: center;
   padding: 0 120px;
   font-size: 13px;
   color: gray;
}
.a2{
   text-decoration: none;
   color: black;
}